@font-face {
    font-family: 'Orange_kid';
    src: url("fonts/Orange_kid.ttf");
}

p, span{
    font-family: "Orange_kid";
    position: relative;
    text-align: center;
    font-size: 200%;
}

#money_text{
    font-size: 100%;
}

#money{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 13%;
    font-size: 200%;
}

#buy_list{
    position: absolute;
    top: 15%;
    left: 30%;
    width: 28%;
}

#bag_list{
    position: absolute;
    top: 70%;
    left: 0%;
    width: 28%;
}

#bag_element{
    text-align: center;
}

.element_name{
    position: relative;
    font-size: 100%;
}

.element_price{
    position: relative;
    float: right;
}

button{
    background: transparent;
    /* border: none;
    font-size:0; */
}

#enemy_img{
    scale: 150%;
}

#shop{
    top: 0%;
    left: 0%;
    position: absolute;
    height: 100%;
}

#enemy{
    top: 50%;
    left: 75%;
    position: absolute;
    /* border: none; */
    scale: 200%;
}

#pokedex{
    top: 0;
    float: left;
    right: 0;
    position: absolute;
    /* border: none; */
    scale: 50%;
}

.progress {
    &__bar {
        transform: scaleX(0);
        transition: transform 1000ms;
    }
}

#pokedex_div{
    display: grid;
}

#button_pokedex{
    width: 100%;
}

#img_pokedex{
    position: relative;
    float: left;
    left: 10%;
}

#name_pokedex{
    float: right;
    top: 50%;
    right: 10%;
}